body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: hsl(0, 24%, 91%);
            
        }
div{
    padding: 30px;
    text-align: center;
}
*{
    outline: 2px solid red;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
            color: #2d415f;
            background-color: rgb(182, 107, 117);
        }
p {
            font-size: 18px;
            color: #666;
        }
a {
            color: #3498db;
            text-decoration: none;
      
        }